extends layout
block content
  #banner.page-header   
    .row 
      .col-lg-6 
        h1 
          | MekanBul
          small &nbsp; Civardaki mekanları keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Gözüm AWM
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star        
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 10km   
        p.address Fatih Mahallesi
        p 
          span.label.label-warning market
          |  &nbsp;
          span.label.label-warning süper market

    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') The Palermo Coffe
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star        
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 13km   
        p.address Fatih Mahallesi
        p 
          span.label.label-warning kahve
          |  &nbsp;
          span.label.label-warning çay

    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Burç Fırın
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star        
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 15km   
        p.address Modern Evler Mahallesi
        p 
          span.label.label-warning burger
          |  &nbsp;
          span.label.label-warning milkshake
                                  