extends layout
block content
    .row.page-header
        .col-lg-12
            h1 Burç Fırın
    .row
        .col-xs-12.col-md-12
            .row
                .col-xs-12.col-sm-6 
                    p.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                    p Modern Evler Mahallesi 
                    .panel.panel-primary
                        .panel-heading  
                            h2.panel-tittle Açılış Saatleri 
                        .panel-body
                            p
                                | Pazartesi-Cuma: 8:00-24:00
                            p
                                | Cumartesi-Pazar: 9:00-24:00
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Neler Var?
                        .panel-body
                            span.label.label-warning Fast Food
                            | &nbsp;
                            span.label.label-warning Soğuk İçecekler
                            | &nbsp;
                            span.label.label-warning Tatlılar
                            | &nbsp;
                .col-xs-12.col-sm-6 
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Konum Bilgisi
                        .panel-body
                            -var enlem=37.78
                            -var boylam=30.56
                            img.img-responsive.img-rounded(src='https://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
            
    .row
        .col-xs-12
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row
                        .review
                            .well.well-sm.review-header
                                span.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.review-author Abdullah Eymen Bilir
                                small.reviewTimestamp &nbsp; 14 Ekim 2022
                            .col-xs-12
                                p Her şey mükemmel
